USE [DeviceShop]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories](
	[AccessoriesId] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Length] [int] NULL,
	[Count] [int] NOT NULL,
	[TypeMaterialId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Accessories] PRIMARY KEY CLUSTERED 
(
	[AccessoriesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleId] [int] IDENTITY(1,1) NOT NULL,
	[ArticleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[DetailsId] [int] IDENTITY(1,1) NOT NULL,
	[ArticleId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Count] [float] NOT NULL,
	[UnitId] [int] NOT NULL,
	[TypeDetailsId] [int] NOT NULL,
	[Price] [decimal](6, 2) NOT NULL,
	[GostId] [int] NULL,
 CONSTRAINT [PK_Details] PRIMARY KEY CLUSTERED 
(
	[DetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gost]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gost](
	[GostId] [int] IDENTITY(1,1) NOT NULL,
	[GostName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gost] PRIMARY KEY CLUSTERED 
(
	[GostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDetails]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDetails](
	[TypeDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[TypeDetailsName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_TypeDetails] PRIMARY KEY CLUSTERED 
(
	[TypeDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterial]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterial](
	[TypeMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[TypeMaterialName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[TypeMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 26.03.2025 12:42:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accessories] ON 

INSERT [dbo].[Accessories] ([AccessoriesId], [ArticleId], [Name], [UnitId], [Length], [Count], [TypeMaterialId], [Price]) VALUES (3, 21, N'MSI MAG B550 TOMAHAWK AM4', 3, 300, 1, 6, CAST(3112.00 AS Decimal(10, 2)))
INSERT [dbo].[Accessories] ([AccessoriesId], [ArticleId], [Name], [UnitId], [Length], [Count], [TypeMaterialId], [Price]) VALUES (5, 13, N'16Gb 3200MHz Kingston HyperX Fury 2x8Gb KIT', 3, NULL, 1, 7, CAST(7947.00 AS Decimal(10, 2)))
INSERT [dbo].[Accessories] ([AccessoriesId], [ArticleId], [Name], [UnitId], [Length], [Count], [TypeMaterialId], [Price]) VALUES (6, 14, N'DDR4 Corsair 8Gb 2133MHz', 3, NULL, 1, 7, CAST(4032.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Accessories] OFF
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([ArticleId], [ArticleName]) VALUES (1, N'BP02')
INSERT [dbo].[Article] ([ArticleId], [ArticleName]) VALUES (2, N'D012')
INSERT [dbo].[Article] ([ArticleId], [ArticleName]) VALUES (3, N'D63')
SET IDENTITY_INSERT [dbo].[Article] OFF
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

INSERT [dbo].[Details] ([DetailsId], [ArticleId], [Name], [Count], [UnitId], [TypeDetailsId], [Price], [GostId]) VALUES (1, 9, N'6-32 UNC с полукруглой головкой Phillips', 1018, 3, 1, CAST(120.00 AS Decimal(6, 2)), 8)
INSERT [dbo].[Details] ([DetailsId], [ArticleId], [Name], [Count], [UnitId], [TypeDetailsId], [Price], [GostId]) VALUES (2, 10, N'Zalman Thermal Grease ZM-STC7', 4, 1, 4, CAST(440.00 AS Decimal(6, 2)), 8)
INSERT [dbo].[Details] ([DetailsId], [ArticleId], [Name], [Count], [UnitId], [TypeDetailsId], [Price], [GostId]) VALUES (3, 8, N'6-32 UNC с шестигранной головкой с фланцем', 1336, 3, 2, CAST(500.99 AS Decimal(6, 2)), 8)
SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Gost] ON 

INSERT [dbo].[Gost] ([GostId], [GostName]) VALUES (1, N'ГОСТ 16093-2004')
INSERT [dbo].[Gost] ([GostId], [GostName]) VALUES (2, N'ГОСТ 1759.0-87')
INSERT [dbo].[Gost] ([GostId], [GostName]) VALUES (3, N'ГОСТ 24705-2004')
SET IDENTITY_INSERT [dbo].[Gost] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeDetails] ON 

INSERT [dbo].[TypeDetails] ([TypeDetailsId], [TypeDetailsName]) VALUES (1, N'Винт                                              ')
INSERT [dbo].[TypeDetails] ([TypeDetailsId], [TypeDetailsName]) VALUES (2, N'Крестообразный винт                               ')
INSERT [dbo].[TypeDetails] ([TypeDetailsId], [TypeDetailsName]) VALUES (3, N'Позиционирующая стойка                            ')
SET IDENTITY_INSERT [dbo].[TypeDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeMaterial] ON 

INSERT [dbo].[TypeMaterial] ([TypeMaterialId], [TypeMaterialName]) VALUES (1, N'Блок питания')
INSERT [dbo].[TypeMaterial] ([TypeMaterialId], [TypeMaterialName]) VALUES (2, N'Видеокарта')
INSERT [dbo].[TypeMaterial] ([TypeMaterialId], [TypeMaterialName]) VALUES (3, N'Водяная система охлаждения')
SET IDENTITY_INSERT [dbo].[TypeMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([UnitId], [UnitName]) VALUES (1, N'г')
INSERT [dbo].[Unit] ([UnitId], [UnitName]) VALUES (2, N'упак')
INSERT [dbo].[Unit] ([UnitId], [UnitName]) VALUES (3, N'шт')
SET IDENTITY_INSERT [dbo].[Unit] OFF
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_Article] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Article] ([ArticleId])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [FK_Accessories_Article]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_TypeMaterial] FOREIGN KEY([TypeMaterialId])
REFERENCES [dbo].[TypeMaterial] ([TypeMaterialId])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [FK_Accessories_TypeMaterial]
GO
ALTER TABLE [dbo].[Accessories]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Accessories] CHECK CONSTRAINT [FK_Accessories_Unit]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Article] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Article] ([ArticleId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Article]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Gost] FOREIGN KEY([GostId])
REFERENCES [dbo].[Gost] ([GostId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Gost]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_TypeDetails] FOREIGN KEY([TypeDetailsId])
REFERENCES [dbo].[TypeDetails] ([TypeDetailsId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_TypeDetails]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Unit]
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Unit1] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([UnitId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Unit1]
GO
